In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('data/2016_1_austrailia/tabula-2016_1_race_best_sector_times.csv', header=None)

In [27]:
df

      0               1       2
0   NO          DRIVER     TIME
1    3    D. RICCIARDO   29.718
2    5       S. VETTEL   30.058
3    6      N. ROSBERG   30.204
4   44     L. HAMILTON   30.315
5   33   M. VERSTAPPEN   30.363
6    7    K. RAIKKONEN   30.413
7   55        C. SAINZ   30.598
8   22       J. BUTTON   30.633
9   14       F. ALONSO   30.744
10  19        F. MASSA   30.843
11  20    K. MAGNUSSEN   30.892
12  11        S. PEREZ   30.956
13  21    E. GUTIERREZ   31.027
14  77       V. BOTTAS   31.036
15   8     R. GROSJEAN   31.040
16  12         F. NASR   31.066
17  27   N. HULKENBERG   31.066
18  30       J. PALMER   31.100
19  94     P. WEHRLEIN   31.151
20   9     M. ERICSSON   31.278
21  88     R. HARYANTO   31.320
22  NO          DRIVER     TIME
23   6      N. ROSBERG   23.574
24   3    D. RICCIARDO   23.613
25   5       S. VETTEL   23.626
26  44     L. HAMILTON   23.829
27  22       J. BUTTON   23.865
28   7    K. RAIKKONEN   23.975
29  33   M. VERSTAPPEN   23.994
..  ...             ...     ...
36  11        S. PEREZ   24.269
37  14       F. ALONSO   24.279
38  20    K. MAGNUSSEN   24.281
39  30       J. PALMER   24.401
40   8     R. GROSJEAN   24.485
41  21    E. GUTIERREZ   24.554
42  88     R. HARYANTO   24.586
43   9     M. ERICSSON   24.685
44  NO          DRIVER     TIME
45   6      N. ROSBERG   35.638
46   3    D. RICCIARDO   35.666
47   5       S. VETTEL   35.715
48   7    K. RAIKKONEN   36.303
49  44     L. HAMILTON   36.352
50  33   M. VERSTAPPEN   36.438
51  55        C. SAINZ   36.472
52  22       J. BUTTON   36.655
53  12         F. NASR   36.936
54  20    K. MAGNUSSEN   36.970
55  19        F. MASSA   37.054
56   8     R. GROSJEAN   37.068
57  14       F. ALONSO   37.183
58  77       V. BOTTAS   37.187
59  30       J. PALMER   37.243
60  94     P. WEHRLEIN   37.266
61  21    E. GUTIERREZ   37.287
62  27   N. HULKENBERG   37.347
63  11        S. PEREZ   37.350
64   9     M. ERICSSON   37.355
65  88     R. HARYANTO   37.375

[66 rows x 3 columns]

In [28]:
rows = df.shape[0] / 3
rows

22

In [29]:
sector1, others = df.iloc[:22, :], df.iloc[22:, :]
sector2, sector3 = others.iloc[:rows, :], others.iloc[rows:, :]

In [30]:
print sector1
print sector2
print sector3

      0               1       2
0   NO          DRIVER     TIME
1    3    D. RICCIARDO   29.718
2    5       S. VETTEL   30.058
3    6      N. ROSBERG   30.204
4   44     L. HAMILTON   30.315
5   33   M. VERSTAPPEN   30.363
6    7    K. RAIKKONEN   30.413
7   55        C. SAINZ   30.598
8   22       J. BUTTON   30.633
9   14       F. ALONSO   30.744
10  19        F. MASSA   30.843
11  20    K. MAGNUSSEN   30.892
12  11        S. PEREZ   30.956
13  21    E. GUTIERREZ   31.027
14  77       V. BOTTAS   31.036
15   8     R. GROSJEAN   31.040
16  12         F. NASR   31.066
17  27   N. HULKENBERG   31.066
18  30       J. PALMER   31.100
19  94     P. WEHRLEIN   31.151
20   9     M. ERICSSON   31.278
21  88     R. HARYANTO   31.320
      0               1       2
22  NO          DRIVER     TIME
23   6      N. ROSBERG   23.574
24   3    D. RICCIARDO   23.613
25   5       S. VETTEL   23.626
26  44     L. HAMILTON   23.829
27  22       J. BUTTON   23.865
28   7    K. RAIKKONEN   23.975
29  33   M. VERSTAPPEN   23.994
30  55        C. SAINZ   24.040
31  19        F. MASSA   24.225
32  94     P. WEHRLEIN   24.229
33  12         F. NASR   24.252
34  27   N. HULKENBERG   24.256
35  77       V. BOTTAS   24.263
36  11        S. PEREZ   24.269
37  14       F. ALONSO   24.279
38  20    K. MAGNUSSEN   24.281
39  30       J. PALMER   24.401
40   8     R. GROSJEAN   24.485
41  21    E. GUTIERREZ   24.554
42  88     R. HARYANTO   24.586
43   9     M. ERICSSON   24.685
      0               1       2
44  NO          DRIVER     TIME
45   6      N. ROSBERG   35.638
46   3    D. RICCIARDO   35.666
47   5       S. VETTEL   35.715
48   7    K. RAIKKONEN   36.303
49  44     L. HAMILTON   36.352
50  33   M. VERSTAPPEN   36.438
51  55        C. SAINZ   36.472
52  22       J. BUTTON   36.655
53  12         F. NASR   36.936
54  20    K. MAGNUSSEN   36.970
55  19        F. MASSA   37.054
56   8     R. GROSJEAN   37.068
57  14       F. ALONSO   37.183
58  77       V. BOTTAS   37.187
59  30       J. PALMER   37.243
60  94     P. WEHRLEIN   37.266
61  21    E. GUTIERREZ   37.287
62  27   N. HULKENBERG   37.347
63  11        S. PEREZ   37.350
64   9     M. ERICSSON   37.355
65  88     R. HARYANTO   37.375

In [32]:
all_sectors = pd.merge(sector2, sector3, on=[0, 1])

In [33]:
all_sectors = pd.merge(sector1, all_sectors, on=[0,1])

In [36]:
all_sectors.columns = ['NO', 'DRIVER', 'SECTOR_1', 'SECTOR_2', 'SECTOR_3']
all_sectors.drop(0, inplace=True)

In [49]:
all_sectors[['SECTOR_1', 'SECTOR_2', 'SECTOR_3']] = all_sectors[['SECTOR_1', 'SECTOR_2', 'SECTOR_3']].astype(float)

In [51]:
all_sectors.mean()

SECTOR_1    30.753381
SECTOR_2    24.156238
SECTOR_3    36.802857
dtype: float64

In [52]:
def get_sector_times(df):
    rows = df.shape[0] / 3
    sector1, others = df.iloc[:22, :], df.iloc[22:, :]
    sector2, sector3 = others.iloc[:rows, :], others.iloc[rows:, :]
    all_sectors = pd.merge(sector2, sector3, on=[0, 1])
    all_sectors = pd.merge(sector1, all_sectors, on=[0,1])
    all_sectors.columns = ['NO', 'DRIVER', 'SECTOR_1', 'SECTOR_2', 'SECTOR_3']
    all_sectors.drop(0, inplace=True)
    all_sectors[['SECTOR_1', 'SECTOR_2', 'SECTOR_3']] = all_sectors[['SECTOR_1', 'SECTOR_2', 'SECTOR_3']].astype(float)
    return all_sectors

In [58]:
sector_times = get_sector_times(df)
sector_times.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 1 to 21
Data columns (total 5 columns):
NO          21 non-null object
DRIVER      21 non-null object
SECTOR_1    21 non-null float64
SECTOR_2    21 non-null float64
SECTOR_3    21 non-null float64
dtypes: float64(3), object(2)
memory usage: 1008.0+ bytes

In [74]:
sector_times['TOTAL'] = sector_times['SECTOR_1'] + sector_times['SECTOR_2'] + sector_times['SECTOR_3']

In [75]:
sector_times

     NO          DRIVER  SECTOR_1  SECTOR_2  SECTOR_3   TOTAL
1    3    D. RICCIARDO     29.718    23.613    35.666  88.997
2    5       S. VETTEL     30.058    23.626    35.715  89.399
3    6      N. ROSBERG     30.204    23.574    35.638  89.416
4   44     L. HAMILTON     30.315    23.829    36.352  90.496
5   33   M. VERSTAPPEN     30.363    23.994    36.438  90.795
6    7    K. RAIKKONEN     30.413    23.975    36.303  90.691
7   55        C. SAINZ     30.598    24.040    36.472  91.110
8   22       J. BUTTON     30.633    23.865    36.655  91.153
9   14       F. ALONSO     30.744    24.279    37.183  92.206
10  19        F. MASSA     30.843    24.225    37.054  92.122
11  20    K. MAGNUSSEN     30.892    24.281    36.970  92.143
12  11        S. PEREZ     30.956    24.269    37.350  92.575
13  21    E. GUTIERREZ     31.027    24.554    37.287  92.868
14  77       V. BOTTAS     31.036    24.263    37.187  92.486
15   8     R. GROSJEAN     31.040    24.485    37.068  92.593
16  12         F. NASR     31.066    24.252    36.936  92.254
17  27   N. HULKENBERG     31.066    24.256    37.347  92.669
18  30       J. PALMER     31.100    24.401    37.243  92.744
19  94     P. WEHRLEIN     31.151    24.229    37.266  92.646
20   9     M. ERICSSON     31.278    24.685    37.355  93.318
21  88     R. HARYANTO     31.320    24.586    37.375  93.281